.form-add {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40rem;
        margin: 0 auto;
        margin-top: 2rem;
        background-color: #efefef;
        padding: 2rem 2.5rem;
        border-radius: 5px;

    .control-group {
        margin-bottom: 1rem;

        * {
            font-size: 1.6rem;
            width: 100%;
        }
    }

    &__label {
        display: block;
    }

    &__input[type="number"],
    &__input[type="text"] {
        padding: .2rem .5rem;
        border-radius: .3rem;
        border: .1rem solid #1d1d1d1f;

        &:focus {
            outline: none;
        }
    }

    &__submit[type="submit"] {
        // width: 6rem;
        padding: .8rem 1.2rem;
        border-radius: .3rem;
        border-color: #1d1d1d;
        background-color: transparent;
        font-size: 1.5rem;
        align-self: flex-start;

        &:focus {
            outline: none;
        }

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }

}

