extends layouts/main-layout

block styles 
    link(rel="stylesheet", href="/css/main.css")
block content
    form.form-add(action="/admin/add-product" method="POST")
        div.control-group
            label.form-add__label(for="itemName0") Item
            input.form-add__input#itemName(type="text" name="itemName")
            button.form-add__submit(type="submit") Add