.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);

    &.product-item {
        width: 40rem;
        border: 1px solid rgba(0,0,0,.1);
    }

    &__header {
        text-transform: uppercase;
    }

    &__image {
        height: auto;
    }

    &__content {
        padding: 2rem;

        & .product__price {
            font-size: 2.4rem;
        }

        & .description {
            font-size: 1.4rem;
            margin: 0;
        }
    }

    &__actions {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        & .card__btn {
            color: #5744ff;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: transparent;
            border-radius: .3rem;
            border: 1px solid #5744ff;
            min-width: 13rem;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
        }
    }
    
}
