.main-header {
    background-color: #5744ff;
    width: 100%;
    height: 5rem;

    &__nav {
        height: 100%;
        padding-left: 1rem;
    }

    &__item-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    &__item {
        display: inline-block;
        margin-right: 2rem;

        a {
            text-decoration: none;
            color: #fff;
            padding: .5rem .1rem;
            font-size: 1.6rem;

            &.active {
                color: #d7fd03;
            }
        }
    }
}